<div>
	


	<h4>Events</h4>
	<div class="row">
		<div class="col-md-2">
			<p class="input-group">
				<input type="text" id="since" class="form-control"
					datepicker-popup="{{format}}" data-ng-model="since"
					is-open="opened" max-date="maxDate"
					data-datepicker-options="sinceOpts" ng-required="true"
					close-text="Close" data-ng-change="getEvents()" /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="open($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
		</div>
	</div>


<pre>Events since: <em>{{since | date:'fullDate' }}</em>
	</pre>


<table class="table table-hover">
<thead>
<tr>
    <th>Id</th>
    <th>Status</th>
    <th>From</th>
	<th>Time</th>	
    
</tr>
</thead>
<tbody>
<tr ng-repeat="event in events | filter:searchFor">
	<td>{{event.id}}</td>
    <td>{{event.status}}</td>
    <td>{{ I.from  }}</td>
	<td>{{I.time | date:"dd/MM/yyyy"}}</td>
 </tr>
</tbody>
</table>   


</div>

