<div class="panel panel-default" style="margin:10px">
  <div class="panel-heading"><b>Host</b></div>
  <div class="panel-body">

<div style="text-align: center;">
<div >
	<img
		src="app/media/docker-whale-home-logo.png"
		alt="Docker.IO" style="height: 150px" >
		</div>
	<dl class="dl-horizontal center-block dl-info"
		style="width: 600px; margin: 0 auto">
		<dt>Version</dt>
		<dd class="ng-binding">1.2.0-go1.3.1-amd64-fa7b24f</dd>
		<dt>Go Version</dt>
		<dd class="ng-binding">go1.3.1</dd>
		<dt>Kernel Version</dt>
		<dd class="ng-binding">3.13.0-32-generic</dd>
		<dt>Docker Server Address</dt>
		<dd class="ng-binding">http://192.168.232.133:4243</dd>
		<dt>Index Server Address</dt>
		<dd class="ng-binding">https://index.docker.io/v1/</dd>
		<dt>Debug</dt>
		<dd>
			<i
				data-ng-class="{'glyphicon-ok text-success': info.Debug, 'glyphicon-remove text-warning': !info.Debug}"
				class="glyphicon glyphicon-remove text-warning"></i>
		</dd>
		<dt>IPv4 Forwarding</dt>
		<dd>
			<i
				data-ng-class="{'glyphicon-ok text-success': info.IPv4Forwarding, 'glyphicon-remove text-warning': !info.IPv4Forwarding}"
				class="glyphicon glyphicon-ok text-success"></i>
		</dd>
		<dt>Memory Limit</dt>
		<dd>
			<i
				data-ng-class="{'glyphicon-ok text-success': info.MemoryLimit, 'glyphicon-remove text-warning': !info.MemoryLimit}"
				class="glyphicon glyphicon-ok text-success"></i>
		</dd>
		<dt>Swap Limit</dt>
		<dd>
			<i
				data-ng-class="{'glyphicon-ok text-success': info.SwapLimit, 'glyphicon-remove text-warning': !info.SwapLimit}"
				class="glyphicon glyphicon-remove text-warning"></i>
		</dd>
		<dt>Containers</dt>
		<dd class="ng-binding">9</dd>
		<dt>Images</dt>
		<dd class="ng-binding">20</dd>
	</dl>
</div>

</div>
</div>