<div class="panel panel-default" style="margin:10px">
  <div class="panel-heading"><b>Host</b></div>
  <div class="panel-body">

<div style="text-align: center;">
<div >
	<img
		src="app/media/docker-whale-home-logo.png"
		alt="Docker.IO" style="height: 150px" >
		</div>
	<dl class="dl-horizontal center-block dl-info"
		style="width: 600px; margin: 0 auto">
		<dt>ExecutionDriver</dt>
		<dd class="ng-binding">{{info.ExecutionDriver}}</dd>
		<dt>Kernel Version</dt>
		<dd class="ng-binding">{{info.KernelVersion}}</dd>
		<dt>Docker Server Address</dt>
		<dd class="ng-binding">{{info.serverurl}}</dd>
		<dt>Index Server Address</dt>
		<dd class="ng-binding">{{info.IndexServerAddress}}</dd>
		<dt>Debug</dt>
		<dd>
			<i
				data-ng-class="{'glyphicon-ok text-success': info.Debug, 'glyphicon-remove text-warning': !info.Debug}"
				class="glyphicon glyphicon-remove text-warning"></i>
		</dd>
		<dt>IPv4 Forwarding</dt>
		<dd>
			<i
				data-ng-class="{'glyphicon-ok text-success': info.IPv4Forwarding, 'glyphicon-remove text-warning': !info.IPv4Forwarding}"
				class="glyphicon glyphicon-ok text-success"></i>
		</dd>
		<dt>Memory Limit</dt>
		<dd>
			<i
				data-ng-class="{'glyphicon-ok text-success': info.MemoryLimit, 'glyphicon-remove text-warning': !info.MemoryLimit}"
				class="glyphicon glyphicon-ok text-success"></i>
		</dd>
		<dt>Swap Limit</dt>
		<dd>
			<i
				data-ng-class="{'glyphicon-ok text-success': info.SwapLimit, 'glyphicon-remove text-warning': !info.SwapLimit}"
				class="glyphicon glyphicon-remove text-warning"></i>
		</dd>
		<dt>Containers</dt>
		<dd class="ng-binding">{{info.Containers}}</dd>
		<dt>Images</dt>
		<dd class="ng-binding">{{info.Images}}</dd>
	</dl>
</div>

</div>
</div>